<section>
  <h1>Canvas id <%= @canvas_id %> size <%= @canvas.cols %>x<%= @canvas.rows %></h1>
  <table class="canvas">
  <%= for row <- (0..@canvas.rows - 1) do %>
    <tr>
    <%= for col <- (0..@canvas.cols - 1) do %>
      <td>
      <%= if get_char(@canvas.chars, row, col) == " " do %>
        &nbsp;
      <% else %>
        <%= get_char(@canvas.chars, row, col) %>
      <% end %>
      </td>
    <% end %>
    </tr>
  <% end %>
  </table>
</section>
